.main-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.main-wrapper .top-background {
  height: 100vh;
  background-image: url("../../Assets/Images/background.svg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  -webkit-animation-name: pictures;
          animation-name: pictures;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.main-wrapper .top-background .top-dark-background {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}

.main-wrapper .top-background .information-container {
  display: none;
  position: relative;
  top: 40%;
  left: 10%;
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 12%;
  -webkit-animation: example 1.5s ease-out;
          animation: example 1.5s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  padding-bottom: 50px;
}

.main-wrapper .top-background .information-container .information-title {
  color: rgba(0, 0, 0, 0.836);
  background-color: #ffffff;
  padding: 10px 7.5px;
  max-width: 600px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e67e00), color-stop(50%, white));
  background: linear-gradient(to right, #e67e00 50%, white 50%);
  background-position: right bottom;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  background-size: 200% 100%;
}

@media only screen and (max-width: 780px) {
  .main-wrapper .top-background .information-container .information-title {
    font-size: 30px;
  }
}

.main-wrapper .top-background .information-container .information-description {
  color: white;
  font-size: 44px;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

@media only screen and (max-width: 780px) {
  .main-wrapper .top-background .information-container .information-description {
    font-size: 30px;
  }
}

.main-wrapper .top-background .information-container .information-user-description {
  margin-top: 20px;
  max-width: 600px;
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-wrapper .top-background .information-container .github-button {
  margin-top: 20px;
  width: 160px;
  height: 60px;
}

.main-wrapper .top-background .information-container .github-button a {
  display: block;
  height: 100%;
  width: 100%;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.836);
  font-size: 22px;
  font-weight: 800;
  background-color: white;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  cursor: pointer;
}

.main-wrapper .top-background .information-container .github-button a:hover {
  background-color: #ffcc00;
  color: white;
}

@-webkit-keyframes pictures {
  0% {
    background-image: url("/Assets//Images/header_image_1920.jpg");
  }
  100% {
    background-image: url("/Assets//Images//altumcode-XMFZqrGyV-Q-unsplash.jpg");
  }
}

@keyframes pictures {
  0% {
    background-image: url("/Assets//Images/header_image_1920.jpg");
  }
  100% {
    background-image: url("/Assets//Images//altumcode-XMFZqrGyV-Q-unsplash.jpg");
  }
}

.scroll-background {
  background-color: white !important;
  opacity: 0.95;
  -webkit-transition: background-color 270ms ease-in-out;
  transition: background-color 270ms ease-in-out;
  -webkit-box-shadow: 0px 5px 9px -9px #42445a;
  box-shadow: 0px 5px 9px -9px #42445a;
}

.scroll-font {
  background-color: grey !important;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transition: background-color 270ms ease-in-out;
  transition: background-color 270ms ease-in-out;
}

.scroll-author-title {
  color: black !important;
}

.scroll-nav {
  color: #b3adad !important;
}

.scroll-nav.contact {
  color: #901212 !important;
  border: none;
}

.scroll-nav-contact-nav {
  display: none;
}

.scroll-border {
  border-color: #b3adad !important;
  -webkit-transition: background-color 270ms ease-in-out;
  transition: background-color 270ms ease-in-out;
}

.scroll-nav-border {
  border: 1px solid rgba(179, 173, 173, 0.816);
}

.scroll-information-tittle {
  background-position: left bottom !important;
  color: white !important;
}

@-webkit-keyframes example {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    left: 12%;
  }
}

@keyframes example {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    left: 12%;
  }
}

@-webkit-keyframes animate1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animate1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes animate2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes animate2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes animate3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes animate3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes animate4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes animate4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes animate-alternative-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 1;
  }
}

@keyframes animate-alternative-1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 1;
  }
}

@-webkit-keyframes animate-alternative-2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 1;
  }
}

@keyframes animate-alternative-2 {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 1;
  }
}

@-webkit-keyframes animate-alternative-3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes animate-alternative-3 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
}

@-webkit-keyframes animate-alternative-4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
  }
}

@keyframes animate-alternative-4 {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
  }
}

header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  -webkit-transition: background-color 270ms ease-in-out;
  transition: background-color 270ms ease-in-out;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  position: fixed;
  z-index: 20;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1400px;
}

header .header-container .website-author {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
}

header .header-container .website-author a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
  font-size: 30px;
  font-size: bold;
  color: white;
  -webkit-transition: background-color 270ms ease-in-out;
  transition: background-color 270ms ease-in-out;
  opacity: 0;
  -webkit-animation: navs-animation 2s ease-out;
          animation: navs-animation 2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  text-decoration: none;
}

header .header-container .website-author .author-lastname {
  color: #f4850f;
}

header .header-container .right-side {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 50%;
  -webkit-animation: bottom-menu-animation 2s ease-out;
          animation: bottom-menu-animation 2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  opacity: 0;
}

@media only screen and (max-width: 1200px) {
  header .header-container .right-side {
    display: none;
  }
}

header .header-container .right-side .top-menu {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-container .right-side .top-menu .contact-nav {
  position: relative;
  padding: 2px 5px;
  margin-top: 7px;
  height: 60%;
  color: white;
  font-size: 12;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 12;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: navs-animation 2s ease-out;
          animation: navs-animation 2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

header .header-container .right-side .top-menu .contact-nav:hover > a {
  color: orange;
  -webkit-transition: background-color 270ms ease-in-out;
  transition: background-color 270ms ease-in-out;
}

header .header-container .right-side .top-menu .contact-nav span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#171618), to(#ffb13b));
  background: linear-gradient(to right, #171618, #ffb13b);
  -webkit-animation: animate1 2s linear infinite;
          animation: animate1 2s linear infinite;
}

header .header-container .right-side .top-menu .contact-nav span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171618), to(#ffb13b));
  background: linear-gradient(to bottom, #171618, #ffb13b);
  -webkit-animation: animate2 2s linear infinite;
          animation: animate2 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

header .header-container .right-side .top-menu .contact-nav span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(#171618), to(#ffb13b));
  background: linear-gradient(to left, #171618, #ffb13b);
  -webkit-animation: animate3 2s linear infinite;
          animation: animate3 2s linear infinite;
}

header .header-container .right-side .top-menu .contact-nav span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(#171618), to(#ffb13b));
  background: linear-gradient(to top, #171618, #ffb13b);
  -webkit-animation: animate4 2s linear infinite;
          animation: animate4 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

header .header-container .right-side .top-menu .contact-nav a {
  width: 100%;
  height: 100%;
  -webkit-transition: color 270ms ease-in-out;
  transition: color 270ms ease-in-out;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

header .header-container .right-side .bottom-menu {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-top: 1px solid white;
}

header .header-container .right-side .bottom-menu li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 15px;
  -webkit-animation: navs-animation 2s ease-out;
          animation: navs-animation 2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  opacity: 0;
}

header .header-container .right-side .bottom-menu li .header-nav {
  color: #cfc9c9;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: color 270ms ease-in-out;
  transition: color 270ms ease-in-out;
  text-decoration: none;
}

header .header-container .right-side .bottom-menu li .header-nav:hover {
  color: white;
}

header .header-container .right-side .bottom-menu li::after {
  width: 50%;
}

@-webkit-keyframes bottom-menu-animation {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 70%;
    opacity: 1;
  }
}

@keyframes bottom-menu-animation {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 70%;
    opacity: 1;
  }
}

@-webkit-keyframes navs-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navs-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .my-skills {
  width: 45%;
  max-width: 700px;
  min-width: 260px;
  text-align: center;
  font-weight: bolder;
  margin-top: 90px;
}

.main .my-skills span {
  background-color: orange;
  color: white;
}

.main .skills-article {
  width: 100%;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .skills-article .skills-article-image {
  background-image: url("../../Assets/Icons/laptop-g93c7db1b2_1280.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */