.main-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-family: "Prompt", sans-serif;
}

.main-wrapper .top-background {
  height: 100vh;
  background-image: url("../../Assets/Images/background.svg");
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #ffffff;
  -webkit-animation-name: pictures;
          animation-name: pictures;
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.main-wrapper .top-background .top-dark-background {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

.main-wrapper .top-background .information-container {
  position: absolute;
  top: 40%;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 12%;
  -webkit-animation: example 2s ease-out;
          animation: example 2s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.main-wrapper .top-background .information-container .information-title {
  color: rgba(0, 0, 0, 0.836);
  background-color: #ffffff;
  padding: 10px 7.5px;
  max-width: 600px;
}

@media only screen and (max-width: 780px) {
  .main-wrapper .top-background .information-container .information-title {
    font-size: 30px;
  }
}

.main-wrapper .top-background .information-container .information-description {
  color: white;
  font-size: 44px;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

@media only screen and (max-width: 780px) {
  .main-wrapper .top-background .information-container .information-description {
    font-size: 30px;
  }
}

.main-wrapper .top-background .information-container .information-user-description {
  margin-top: 20px;
  max-width: 600px;
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-wrapper .top-background .information-container .github-button {
  margin-top: 20px;
  width: 160px;
  height: 60px;
}

.main-wrapper .top-background .information-container .github-button a {
  display: block;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(0, 0, 0, 0.836);
  font-size: 22px;
  font-weight: 800;
  background-color: white;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}

.main-wrapper .top-background .information-container .github-button a:hover {
  background-color: orange;
  color: white;
}

@-webkit-keyframes pictures {
  0% {
    background-image: url("/Assets//Images/header_image_1920.jpg");
  }
  100% {
    background-image: url("/Assets//Images//computer-1209641_1920.jpg");
  }
}

@keyframes pictures {
  0% {
    background-image: url("/Assets//Images/header_image_1920.jpg");
  }
  100% {
    background-image: url("/Assets//Images//computer-1209641_1920.jpg");
  }
}

.scroll-background {
  background-color: white !important;
  opacity: 0.95;
  -webkit-transition: background-color 270ms ease-in-out;
  transition: background-color 270ms ease-in-out;
}

.scroll-font {
  background-color: black !important;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transition: background-color 270ms ease-in-out;
  transition: background-color 270ms ease-in-out;
}

.scroll-author-title {
  color: black !important;
}

.scroll-border {
  border-color: black !important;
  -webkit-transition: background-color 270ms ease-in-out;
  transition: background-color 270ms ease-in-out;
}

@-webkit-keyframes example {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    left: 12%;
  }
}

@keyframes example {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    left: 12%;
  }
}

header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  -webkit-transition: background-color 270ms ease-in-out;
  transition: background-color 270ms ease-in-out;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  position: fixed;
  z-index: 20;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1400px;
}

header .header-container .website-author {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-container .website-author a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
  font-size: 30px;
  font-size: bold;
  color: white;
  -webkit-transition: background-color 270ms ease-in-out;
  transition: background-color 270ms ease-in-out;
}

header .header-container .website-author .author-lastname {
  color: #f4850f;
}

header .header-container .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 70%;
}

@media only screen and (max-width: 1200px) {
  header .header-container .right-side {
    display: none;
  }
}

header .header-container .right-side .top-menu {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-container .right-side .top-menu li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

header .header-container .right-side .top-menu li a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

header .header-container .right-side .bottom-menu {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-top: 1px solid white;
}

header .header-container .right-side .bottom-menu li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

header .header-container .right-side .bottom-menu li .header-nav {
  color: white;
  display: inline-block;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px 0px;
}

header .header-container .right-side .bottom-menu li .header-nav:hover {
  border-bottom: 1px solid orange;
}

header .header-container .right-side .bottom-menu li::after {
  width: 50%;
}

main {
  height: 1000px;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */