.main {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .my-skills{
    width: 45%;
    max-width: 700px;
    min-width: 260px;
    text-align: center;
    font-weight: bolder;
    margin-top: 100px;
    span{
      background-color: orange;
      color: white;
    }
  }
  .skills-article{
    width: 100%;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .skills-article-container{
      background-repeat: no-repeat;
      animation-delay: 5s;
      width: 100%;
      display: flex;
      justify-content: center;
      .presentation-image{
        width: 60%;
        height: auto;
      }
      .presentation-container{
        position: relative;
        left: -50%;
        width: 25%;
        top: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: gray;
        
        .presentation-header{
          width: 100%;
          height: 15px;
          border: 1px solid rgb(208, 204, 204);
          color: gray;
          font-size: 9px;
          text-align: center;
        }
        .presentation-nav{
          width: 100%;
          height: 15px;
          border: 1px solid rgb(208, 204, 204);
          color: gray;
          font-size: 9px;
          margin: 1px 0px;
          text-align: center;
        }
        .presentation-main{
          margin: 1px 0px;
          height: 50px;
          width: 100%;
          border: 1px solid rgb(208, 204, 204);
          color: gray;
          display: flex;
          flex-direction: column;
          font-size: 9px;
          text-align: center;
        }
        .presentation-main-container{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
        }
        .presentation-main-table{
          width: 35%;
          height: 95%;
          border: 1px solid rgb(208, 204, 204);
          margin: 0px 10px;
        }
        .presentation-main-aside{
          width: 20%;
          height: 95%;
          border: 1px solid rgb(208, 204, 204);
          margin: 0px 5px;
        }
      }
      .presentation-main-footer{
        width: 100%;
          height: 15px;
          border: 1px solid rgb(208, 204, 204);
          color: gray;
          font-size: 9px;
          margin: 1px 0px;
          text-align: center;
      }
    }
  }
}

@keyframes show-background-image{
  0% {
    opacity: 0;
    width: 25%;width: 35%;
   
  }

  100% {
    opacity: 1;
    
  }
}

