.main {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .my-skills{
    width: 45%;
    max-width: 700px;
    min-width: 260px;
    text-align: center;
    font-weight: bolder;
    margin-top: 90px;
    span{
      background-color: orange;
      color: white;
    }
  }
  .skills-article{
    width: 100%;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .skills-article-image{
      background-image: url('../../Assets/Icons/laptop-g93c7db1b2_1280.png');
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      justify-content: center;
      animation: show-background-image 1.7s ease-out;
      animation-fill-mode: forwards;
      opacity: 0;
      background-position: center;
      height: 400px;
      animation-delay: 5s;
    }
  }
}

@keyframes show-background-image{
  0% {
    opacity: 0;
    width: 25%;
   
  }

  100% {
    opacity: 1;
    width: 35%;
  }
}

